[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.DS_Store
[Tt]humbs.db 
packages/

App_Data
media
*.nupkg
tools
.packaging
.vs
.testresults
.fake
paket-files
.paket

src/Chauffeur.Demo/App_Plugins
src/Chauffeur.Demo/Views/
src/Chauffeur.Demo/css/
src/Chauffeur.Demo/scripts/
