queue:
  name: Hosted VS2017

steps:
- task: DotNetCoreInstaller@1
  inputs:
    packageType: sdk
    version: '2.1.600-preview-009497'
    includePreviewVersions: true

- task: PowerShell@2
  displayName: 'Setup environment'
  inputs:
    filePath: ./build.ps1
    arguments: '-Target Setup'

- task: isaacabraham.fsharp-helpers-extension.a2dadf20-1a83-4220-a4ee-b52f6c77f3cf.FAKE5@1
  displayName: Build
  inputs:
    ScriptArguments: 'target Build'

- script: |
    git checkout ./.paket/Paket.Restore.targets
  displayName: Use the shipped paket target

- task: isaacabraham.fsharp-helpers-extension.a2dadf20-1a83-4220-a4ee-b52f6c77f3cf.FAKE5@1
  displayName: Package
  inputs:
    ScriptArguments: 'target Package'

- task: isaacabraham.fsharp-helpers-extension.a2dadf20-1a83-4220-a4ee-b52f6c77f3cf.FAKE5@1
  displayName: 'Tests'
  inputs:
    ScriptArguments: 'target Test'

- task: PublishTestResults@2
  displayName: 'Publish Test Results'
  inputs:
    testResultsFormat: VSTest
    testResultsFiles: '.testresults/*.trx'

    mergeTestResults: true

- powershell: |
   ./.fake/codecov/codecov.exe -t $(CodeCov_Token) -f .testresults/unit-tests.xml -v --branch $(Build.SourceBranchName)
   ./.fake/codecov/codecov.exe -t $(CodeCov_Token) -f .testresults/legacy-unit-tests.xml -v --branch $(Build.SourceBranchName)
   ./.fake/codecov/codecov.exe -t $(CodeCov_Token) -f .testresults/integration-tests.xml -v --branch $(Build.SourceBranchName)
  failOnStderr: true

  displayName: 'Upload coverage'

- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: packages'
  inputs:
    PathtoPublish: .packaging

    ArtifactName: packages
  continueOnError: true


- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifact: test results'
  inputs:
    PathtoPublish: .testresults

    ArtifactName: 'test results'
  continueOnError: true

- task: PowerShell@2
  displayName: 'Create variables from nuspec'
  inputs:
    filePath: ./build.ps1
    arguments: '-Target CreateVariables'